<!doctype html>
<html lang="en">
{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- w3c core styles: eight offerings: Chocolate, Midnight, Modernist,
    Oldstyle, Steely, Swiss, Traditional, and Ultramarine 
    ref: https://www.w3.org/StyleSheets/Core/Overview.html -->
    <link rel="stylesheet" href="https://www.w3.org/StyleSheets/Core/Steely"
    type="text/css">
    <link rel="stylesheet" href="{% static 'kitten.css' %}" type="text/css">

    <title>{% block title %}{% if game %}{{game.name}} - {% endif %}Kitten on the Line{% endblock %}</title>
</head>

<body>

{% block content %}
{% endblock %}
<ul style="list-style-type: none">

{% if game.id and team_id %}
<li style="display: inline-block;">
	<a href="{% url 'game_details' game.id team_id %}">Details</a></li>
<li style="display: inline-block;">
	<a 
	{% if user.is_superuser %}
	href="{% url 'admin:kitten_game_delete' game.id %}"
	{% else %}
	href="{% url 'game_delete' game.id team_id %}"
	{% endif %}
	>Delete</a></li>
{% endif %}

<li style="display: inline-block;"><a href="{% url 'home' %}">Home</a></li>

{% if team.id %}
<li style="display: inline-block;"><a href="{% url 'games' team.id %}">Games</a>
</li>
{% endif %}

{% if user.is_superuser %}
<li style="display: inline-block;"><a href="{% url 'admin:index' %}">Admin</a>
{% endif %}

{% if user.is_authenticated %}
<li style="display: inline-block;"><a href="{% url 'logout' %}">Logout</a></li>
{% endif %}

</ul>
<p style="color: grey;"><small>&copy Simon Lambourn 2020</small></p>
</body>
</html>