<!doctype html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- w3c core styles: eight offerings: Chocolate, Midnight, Modernist,
    Oldstyle, Steely, Swiss, Traditional, and Ultramarine 
    ref: https://www.w3.org/StyleSheets/Core/Overview.html -->
    <link rel="stylesheet" href="https://www.w3.org/StyleSheets/Core/Steely"
    type="text/css">

    <title>{% block title %}Kitten on the Tracks{% endblock %}</title>
</head>

<body>

{% block content %}
{% endblock %}
<ul style="list-style-type: none">
<li style="display: inline-block;"><a href="{% url 'home' %}">Home</a></li>

{% if user.is_authenticated %}
<li style="display: inline-block;"><a href="{% url 'logout' %}">Logout</a></li>
{% endif %}
</ul>
<p><small>&copy Simon Lambourn 2020</small></p>
</body>
</html>