{% extends 'kitten/base.html' %}
{% block content %}
<h1>{{ game.name }}: Lines operated by {{ team.name }}</h1>
{% for line, place_details in details.items %}
<h2>{{ line.name }}</h2>

{% if place_details %}
<table style="border: 1px solid grey;; border-collapse: collapse;">
<tr><th>Location</th><th>{{ line.direction1 }}</th>
<th>{{ line.direction2 }}</th></tr>
{% for location, trains in place_details.items %}

<tr>

<td style="border: 1px solid grey;">
{% if location.is_station %}<b>{% endif %}
{{ location.name|default:"[Track]" }}
{% if location.is_station %}</b>{% endif %}
</td>

{% for trains_by_dir in trains %}

<td style="border: 1px solid grey;">
{% for train in trains_by_dir %}

{{ train.type }} #{{ train.serial }}<br>

{% endfor %}
</td>

{% endfor %}
</tr>

{% endfor %}
</table>
{% endif %}

{% empty %}
<p>(No lines for {{ team.name }}.)</p>
{% endfor %}

{% if lines_other_op %}

<h2>Other teams' lines:</h2>
<ul>
{% for line in lines_other_op %}
<li>{{ line.name }}
	({{ line.team.name|default_if_none:"<b>No operators</b>>" }})</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}