{% extends 'kitten/base.html' %}
{% block content %}
<h1>{{ team.name }}: Operations Control Room</h1>
<h2>Line Status on {{ game.current_time|date:"D, g:i a" }}</h2>
{% for line, place_details in details.items %}
<h4>{{ line.name }}</h4>

{% if place_details %}
<table>
<tr><th>{{ line.direction1 }}</th><th>Location</th>
<th>{{ line.direction2 }}</th></tr>
{% for trains_dir1, location, trains_dir2 in place_details %}

<tr>

<td>
{% for train in trains_dir1 %}
{{ train.html|safe }}<br>
{% endfor %} <!-- trains -->
</td>

<td>
{{ location.html|safe }}
</td>

<td>
{% for train in trains_dir2 %}
{{ train.html|safe }}<br>
{% endfor %}  <!-- trains 2 -->
</td>

</tr>

{% endfor %}  <!-- line locations -->
</table>
<p>{{ line.display_punctuality }}</p>
{% endif %} <!-- places -->

{% empty %}
<p>(No lines for {{ team.name }}.)</p>
{% endfor %}  <!-- lines -->

<a href="{% url 'game_tick' game.id team.id %}">Tick</a>

{% if lines_other_op %}

<h2>Other lines:</h2>
<ul>
{% for line in lines_other_op %}
<li>{{ line.name }}
	({{ line.team.name|default_if_none:"<b>No operator</b>>" }})</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}