{% extends 'kitten/base.html' %}
<!-- initial dialog when only team is known -->


{% block title %}
New Game -
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
> {% breadcrumb_url 'New Game' 'kitten:game' team.id %}
{% endblock %}


{% block content %}

<h2>Setup new game for {{ team.name }}</h2>

<form method="POST" class="post-form">
 	{% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" class="save btn btn-primary" value="Setup"></p>
</form>
<p>Next, you can add other teams and customise your game.</p>

{% endblock %}