{% extends 'kitten/base.html' %}
{% block content %}
<h1>{{ game.name }}</h1>

<p>Here are the details of your game.</p>
<ul>
<li>Scheduling Centre</li>
<li>Operations Control Room</li>
{% if game.level >= 30 %}
<li>HR dashboard </li>
{% endif %}
{% if game.level >= 40 %}
<li>Engineering dashboard</li>
{% endif %}
{% if game.level >= 20 %}
<li>Boardroom</li>
{% endif %}
</ul>
<button class="btn btn-default">Add team</button>
<button class="btn btn-default">Play</button>
<h3>Game settings:</h3>
<form method="POST" class="post-form"
	action="{% url 'game' game.id team_id %}">
{% csrf_token %}
    {{ form.as_p }}
    <p>Game level: {{game.get_level_display}}</p>
    <p>Network name: {{ game.network_name }}</p>
    <input type="submit" class="save btn btn-default" value="Save">
</form>
{% endblock %}