{# panel for inclusion in other game pages. expects game, GamePlayStatus and next_url to be set #}
{% load static %}
<script type="application/javascript">
var query_url = "{% url 'game_status' team_id game.id %}";
</script>
<script async src="{% static 'game_clock.js' %}" type="application/javascript">
</script>

<div class="card">
  <div class="card-header">
    Network time: {{ game.current_time|date:"D, g:i a" }}
  </div>
  <div class="card-body">
    <p id="game-status">Querying status...</p>
    <button id="game-control" type="button" disabled class="btn btn-success">
    Play</button>
    <p id="game-clock-status"></p>
  </div>
</div>