{% extends 'kitten/base.html' %}


{% block title %}
{% if linetemplate %}
	{{ linetemplate }} details -
{% else %}
	New Line Template -
{% endif %}
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
> {% breadcrumb_url "Network" 'network' network_id %}
{% if linetemplate %}
> {% breadcrumb_url "Line Template" 'linetemplate' network_id linetemplate.id %}
{% else %}
> {% breadcrumb_url "New Line Template" 'linetemplate' network_id %}
{% endif %}
{% endblock %}


{% block content %}

{% if linetemplate %}
	<h1>{{ linetemplate }}</h1>
{% else %}
	<h1>New Line Template</h1>
{% endif %}

<form method="post"
    {% if linetemplate %}
	action="{% url 'linetemplate' network_id linetemplate.id %}"
	{% else %}
	action="{% url 'linetemplate' network_id %}"
	{% endif %}
	>
	{% csrf_token %}
	<input type="hidden" name="network_id" value="{{ network_id }}">
	<input type="hidden" name="linetemplate_id" value="{{ linetemplate.id }}">
	{{ form.as_p }}
	<p>First, enter the details of your line and save it.  Then, you can add
	line locations, and playable levels</p>

	<h3>Line Locations:</h3><!-- line teamplates in the network -->
	{{ formset }}
	<p><input type="submit" value="Save"></p>
</form>


{% endblock %}
