{% extends 'kitten/base.html' %}


{% block title %}
{% if linetemplate %}
	{{ linetemplate }} details -
{% else %}
	New Line Template -
{% endif %}
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
> {% breadcrumb_url "Network" 'kitten:network' network_id %}
{% if linetemplate %}
> {% breadcrumb_url "Line Template" 'kitten:linetemplate' network_id linetemplate.id %}
{% else %}
> {% breadcrumb_url "New Line Template" 'kitten:linetemplate' network_id %}
{% endif %}
{% endblock %}


{% block content %}

{% if linetemplate %}
	<h1>{{ linetemplate }}</h1>
{% else %}
	<h1>New Line Template</h1>
{% endif %}

<form method="post"
    {% if linetemplate %}
	action="{% url 'kitten:linetemplate' network_id linetemplate.id %}"
	{% else %}
	action="{% url 'kitten:linetemplate' network_id %}"
	{% endif %}
	>
	{% csrf_token %}
	<input type="hidden" name="network_id" value="{{ network_id }}">
	<input type="hidden" name="linetemplate_id" value="{{ linetemplate.id }}">
	<table class="table">
	{{ form }}
	</table>
	<p>First, enter the details of your line and save it.  Then, you can add
	line locations, such as depots, stations, and track segments.</p>

	<h3>Line Locations:</h3><!-- line templates in the network, as table -->
	{{ formset.management_form }}
	<table class="table table-hover"><tbody>
	    
	  {% for form in formset %}
	    {% if forloop.first %} {# print table headers #}
			<tr>{% for field in form.visible_fields %}
			<th>{{ field.label }}<br><small>{{ field.help_text }}</small>
			</th>
			{% endfor %}</tr>
		{% endif %}

		<!-- render a linelocation -->
		<tr>{% for field in form.visible_fields %}
			{# Include the hidden fields in the form #}
		    {% if forloop.first %}
		      {% for hidden in form.hidden_fields %}
		      {{ hidden }}
		      {% endfor %}
		    {% endif %}
			<td class="no-border">
			  {{ field }}
			  {{ field.errors.as_ul }}
			</td>
		{% endfor %}</tr><!-- fields loop -->
	
	  {% endfor %}<!-- forms loop -->
	</tbody></table>
	<p>To add line locations, just fill in the name and the position in the
	blank entry at the bottom, save, and a new blank entry will appear.</p>
	<p><a href="{% url 'kitten:network' network_id %}" class="btn btn-warning">Cancel</a>
	<input type="submit" class="btn btn-default" value="Apply">
	<input type="submit" value="OK" class="btn btn-primary"
	{% if linetemplate %}
	formaction="{% url 'kitten:linetemplate' network_id linetemplate.id %}?next={% url 'kitten:network' network_id %}"
	{% else %}
	formaction="{% url 'kitten:linetemplate' network_id %}?next={% url 'kitten:network' network_id %}"
	{% endif %}
	>
	</p>
</form>


{% endblock %}
