{% extends 'kitten/base.html' %}


{% block title %}
{% if network.name %}
	{{ network.name }} design -
{% else %}
	New Network -
{% endif %}
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
{% if network %}
> {% breadcrumb_url "Network" 'kitten:network' team_id network.id %}
{% else %}
> {% breadcrumb_url "New Network" 'kitten:network_new' team_id %}
{% endif %}
{% endblock %}


{% block content %}

{% if network %}
	<h1>{{ network.name }} Design</h1>
{% else %}
	<h1>New Network</h1>
{% endif %}

<form method="post">
	{% csrf_token %}
	<input type="hidden" name="network_id" value="{{ network.id }}">
	<table class="table">
	{{ form }}
	</table>
	<p>First, enter the details of your network and save it.  Then, you can add
	line templates, line locations, incident types, responses and impacts,
	and finally some playable levels, so the network can be
	used in games.</p>
	<a class="btn btn-danger href="{% url 'kitten:network_delete' team_id network.id %}">
	Delete</a>
	<input type="submit" class= "btn btn-secondary" value="Save">
	<input type="submit" class="btn btn-primary" value="OK"
	{% if network %}
	formaction="{% url 'kitten:network' team_id network.id %}?success={% url 'kitten:team' team_id %}"
	{% else %}
	formaction="{% url 'kitten:network_new' team_id %}?success={% url 'kitten:team' team_id %}"
	{% endif %}>
</form>

{% if network %}
	<h3>Line Templates:</h3><!-- line templates in the network -->
	<ul>
	{% for line in network.lines.all %}

		<li><a href="{% url 'kitten:linetemplate' network.id line.id %}">
		{{ line.name }}</a>&nbsp;&nbsp;
		<a href="{% url 'kitten:linetemplate_delete' line.id %}">Remove</a>
		</li>

	{% empty %}
	<li class="errormsg">You must add one or more lines to the network</li>
	{% endfor %}
	</ul>
	<p><a href="{% url 'kitten:linetemplate' network.id %}">Add line</a>
	</p>
	
	<h3>Playable levels</h3><!-- game teamplates in the network -->
	<ul>{% for level in network.levels.all %}  <!-- GameTemplates -->

		<li><a href="{% url 'kitten:gametemplate' network.id level.id %}">
		{{ level.get_level_display }}</a>&nbsp;&nbsp;
		<a href="{% url 'kitten:gametemplate_delete' level.id %}">Remove</a>
		</li>

		{% empty %}
		<li class="errormsg">You must add one or more playable levels to the
		network</li>

	{% endfor %}</ul>
	<p><a href="{% url 'kitten:gametemplate' network.id %}">Add level</a>


{% if request.user.is_superuser %}
<h3>Debug options</h3>
<a href="{% url 'kitten:network_debug' team_id network.id 1 %}">
Debug 1(traffic profile)</a>
{% endif %}

{% endif %} <!-- network -->


{% endblock %}