{% extends 'kitten/base.html' %}


{% block title %}Operations Control Room -
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
> {% breadcrumb_url 'Game' 'game' team.id game.id %}
> {% breadcrumb_url 'Operations' 'game_operations' team.id game.id %}
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-8">
  <h1>{{ team.name }}: Operations Control Room</h1>
  <h2>Line Status on {{ game.current_time|date:"D, g:i a" }}</h2>
  </div>
  <div class="col-sm-4">
  <!-- game clock & status display -->
  {% url 'game_operations' team.id game.id as next_url%}
  {% include 'kitten/game_clock.html' %}
  </div>
</div>

{% for line, details in details.items %}
<h4>{{ line.name }}</h4>
<div class="row">
<div class="col">
{% if details.0 %}  <!-- details.0 are place details -->
<h4>Train status</h4>
<table class="table table-striped">
<thead class="thead-dark">
<tr><th>{{ line.direction1 }}</th><th>Location</th>
<th>{{ line.direction2 }}</th></tr></thead>
{% for trains_dir1, location, trains_dir2 in details.0 %}

<tr>

<td>
{% for train in trains_dir1 %}
{{ train.html|safe }}<br>
{% endfor %} <!-- trains -->
</td>

<td>
{{ location.html|safe }}
</td>

<td>
{% for train in trains_dir2 %}
{{ train.html|safe }}<br>
{% endfor %}  <!-- trains 2 -->
</td>

</tr>

{% endfor %}  <!-- line locations -->
</table>
</div>  <!-- end of col for line status -->
<div class="col">


<h4>Incident status</h4><small>
{% for incident in details.1 %}  <!-- details.1 is incidents -->
<a href="{% url 'incident' team.id game.id incident.id %}"
	>{{ incident.html|safe }}</a><br>

{% empty %}
No incidents to report.

{% endfor %}
</small>
</div> <!-- end of col for incidents -->
</div> <!-- end of row -->

<p>{{ line.punctuality_display }}</p>
{% endif %} <!-- places -->

{% empty %}
<p>(No lines for {{ team.name }}.)</p>
{% endfor %}  <!-- lines -->

<a href="{% url 'game_tick' team.id game.id %}">Tick</a>&nbsp;&nbsp;
<a href="{% url 'game_debug' team.id game.id 1 %}">Debug 1(add an incident)
</a>&nbsp;&nbsp;
<a href="{% url 'game_debug' team.id game.id 2 %}">Debug 2(try_resolve incidents)
</a>&nbsp;&nbsp;
<a href="{% url 'game_debug' team.id game.id 3 %}">Debug 3(update trains)
</a>&nbsp;&nbsp;
<a href="{% url 'game_debug' team.id game.id 4 %}">Debug 4(clear incidents)
</a>&nbsp;&nbsp;
<a href="{% url 'game_incidents_clear' team.id game.id %}">Clear Incidents</a>

{% if lines_other_op %}

<h2>Other lines:</h2>
<ul>
{% for line in lines_other_op %}
<li>{{ line.name }}
	({{ line.team.name|default_if_none:"<b>No operator</b>>" }})</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}