{% extends 'kitten/base.html' %}


{% block title %}Operations Control Room -
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
> {% breadcrumb_url 'Game' 'game' team.id game.id %}
> {% breadcrumb_url 'Operations' 'game_operations' team.id game.id %}
{% endblock %}


{% block content %}
<h1>{{ team.name }}: Operations Control Room</h1>
<h2>Line Status on {{ game.current_time|date:"D, g:i a" }}</h2>
{% for line, details in details.items %}
<h4>{{ line.name }}</h4>

<table class="no-border">
<tbody class="no-border">
<tr class="no-border"><td class="border">
{% if details.0 %}  <!-- details.0 are place details -->
<h4>Train status</h4>
<table>
<tr><th>{{ line.direction1 }}</th><th>Location</th>
<th>{{ line.direction2 }}</th></tr>
{% for trains_dir1, location, trains_dir2 in details.0 %}

<tr>

<td>
{% for train in trains_dir1 %}
{{ train.html|safe }}<br>
{% endfor %} <!-- trains -->
</td>

<td>
{{ location.html|safe }}
</td>

<td>
{% for train in trains_dir2 %}
{{ train.html|safe }}<br>
{% endfor %}  <!-- trains 2 -->
</td>

</tr>

{% endfor %}  <!-- line locations -->
</table>

</td><td class=border>

<h4>Incident status</h4><small>
{% for incident in details.1 %}  <!-- details.1 is incidents -->

<a href="{% url 'incident' team.id game.id incident.id %}"
	>{{ incident.html|safe }}</a><br>

{% empty %}
No incidents to report.

{% endfor %}
</small></td></tr></tbody></table>

<p>{{ line.punctuality_display }}</p>
{% endif %} <!-- places -->

{% empty %}
<p>(No lines for {{ team.name }}.)</p>
{% endfor %}  <!-- lines -->

<a href="{% url 'game_tick' team.id game.id %}">Tick</a>&nbsp;&nbsp;
<a href="{% url 'game_incidents_clear' team.id game.id %}">Clear Incidents</a>

{% if lines_other_op %}

<h2>Other lines:</h2>
<ul>
{% for line in lines_other_op %}
<li>{{ line.name }}
	({{ line.team.name|default_if_none:"<b>No operator</b>>" }})</li>
{% endfor %}
</ul>

{% endif %}

{% endblock %}