{% extends 'kitten/base.html' %}

{% block title %}{{ team.name }} -
{% endblock %}

{% block content %}

<h1>Team Base - {{ team.name }}</h1>
<p>{{ team.description }}</p>
<p><a href="{% url 'team' team.id %}">Update team details</a>
<p>Skill level: {{ team.get_level_display }}</p>
<h2>Members</h2>

<ul>{% for user in team.members.all %}
<li>{{ user }}</li>

{% empty %}
<li>No team members found!</li>
{% endfor %}

<li>
{% if team.invitations.count %}
	{{ team.invitations.count }}
	<a href="{% url 'team' team.id %}">
{% else %}
	No <a href="{% url 'team_invitation_new' team.id %}">
{% endif %}
	invitations</a> to join this team
</li>
</ul>

<h2>Games</h2>
<ul>
{% for game in games %}

<li><a href="{% url 'game' game.id team.id %}">{{ game }}</a>
started {{ game.started }}, last played {{ game.last_played}}
</li>

{% empty %}
<li>(no saved games)</li>
{% endfor %}
</ul>

{% if team.game_invitations %}
<ul>{% for invitation in team.game_invitations.all %}
<li>Invitation to join
	<a href="{% url 'game_invitation_accept' team.id invitation.id %}">
	{{ invitation.game.name }}</a> from {{ invitation.inviting_team.name }}
	</li>
{% endfor %}</ul>
{% endif %}


<ul>
<li><a href="{% url 'game' team.id %}">New game</a>
</ul>

{% endblock %}