{% extends 'kitten/base.html' %}

{% block title %}{{ team.name }} -
{% endblock %}

{% block content %}

<h1>Games Room - {{ team.name }}</h1>
<p>{{ team.description }}</p>
<p><a href="{% url 'team' team.id %}">Update team details</a>
<p>Skill level: {{ team.get_level_display }}</p>
<h2>Members</h2>

{% for user in team.members.all %}
<p>{{ user }}</p>

{% empty %}
<p>No team members found!</p>
{% endfor %}

<p>
{% if team.invitations %}
	{{ team.invitations.count }}
	<a href="{% url 'team' team.id %}">
{% else %}
	No <a href="{% url 'team_invitation_new' team.id %}">
{% endif %}
	invitations</a> to join team
</p>

<h2>Saved Games</h2>
<ul>
{% for game in games %}

<li><a href="{% url 'game' game.id team.id %}">{{ game }}</a>
started {{ game.started }}, last played {{ game.last_played}}
</li>

{% empty %}
<li>(no saved games)</li>
{% endfor %}
</ul>

<ul>
<li><a href="{% url 'game' team.id %}">New game</a>
</ul>

{% endblock %}