{% extends 'kitten/base.html' %}

{% block title %}{{ team.name }} -
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
> {% breadcrumb_url 'Games' 'team_games' team.id %}
{% endblock %}


{% block content %}

<h1>Team Base - {{ team.name }}</h1>
<p>{{ team.description }}</p>
<p>Skill level: {{ team.get_level_display }}</p>
<p><a class="btn btn-secondary" href="{% url 'team' team.id %}">
Update team details</a>
<h2>Members</h2>

<ul>{% for user in team.members.all %}
<li>{{ user }}</li>

{% empty %}
<li>No team members found!</li>
{% endfor %}

<li>
{% if team.invitations.count %}
	<a href="{% url 'team' team.id %}">
	{{ team.invitations.count }} invitations</a>
{% else %}
	No invitations
{% endif %}
	 to join this team have been sent.
</li>
</ul>
<p><a class="btn btn-secondary" href="{% url 'team_invitation_new' team.id %}">
Invite new members</a></p>
<h2>Games</h2>
<ul>
{% for game in games %}

<li><a href="{% url 'game' team.id game.id %}">{{ game }}</a>
started {{ game.started }}, last played {{ game.last_played}}
</li>

{% empty %}
<li>(no saved games)</li>
{% endfor %}
</ul>

{% if team.game_invitations %}
<ul>{% for invitation in team.game_invitations.all %}
<li>Invitation to join
	<a href="{% url 'game_invitation_accept' team.id invitation.id %}">
	{{ invitation.game.name }}</a> from {{ invitation.inviting_team.name }}
	</li>
{% endfor %}</ul>
{% endif %}


<p><a class="btn btn-success" href="{% url 'game' team.id %}">New game</a></p>

{% endblock %}