{% extends 'kitten/base.html' %}


{% block title %}
{% if team.name %}
	{{ team.name }} details -
{% else %}
	New Team -
{% endif %}
{% endblock %}


{% block breadcrumbs %}
{% load breadcrumb %}
{% if team %}
> {% breadcrumb_url "Details" 'team' team.id %}
{% else %}
> {% breadcrumb_url "New Team" 'team' %}
{% endif %}
{% endblock %}


{% block content %}

{% if team.name %}
	<h1>{{ team.name }} details</h1>
{% else %}
	<h1>New Team</h1>
{% endif %}

<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	{% if team %}
	<p>Skill level: {{ team.get_level_display }}</p>
	<p>Members:</p>
	<ul>
	{% for member in team.members.all %}

		<li>{{ member.username }}
		<a href="{% url 'team_member_remove' team.id user.id %}">
		Remove</a></li>

	{% empty %}
	<li>No team members!</li>
	{% endfor %}
	</ul>
	<p><a href="{% url 'team_invitation_new' team.id %}">Invitations</a>
	to join this team:</p>
	<ul>
	{% for invitation in team.invitations.all %}
	
	<li>{{ invitation.invitee_username }} invited by
		{{ invitation.invited_by }} on {{ invitation.date }}
	    <a href="{% url 'invitation_delete' team.id invitation.id %}">Delete</a>
	    </li>

	{% empty %}
	<li>(none)</li>
	{% endfor %}
	</ul>
	{% endif %}
	{% if team %}
	<p><a href="{% url 'team_games' team.id %}">Games</a>
	&nbsp;&nbsp;<a href="{% url 'team_delete' team.id %}">Delete</a></p>
	{% endif %}
	<input type="submit" value="Save">
</form>


{% endblock %}