{% extends 'kitten/base.html' %}
{% block content %}

{% if team %}
<h1>{{ team.name }}</h1>
<h2>Members</h2>

<ul>
{% for user in team.members.objects.all %}
<li>{{ user }}</li>

{% empty %}
<p>No team members found!</p>
{% endfor %}
</ul>

<h2>Saved Games</h2>
<ul>
{% for game in games %}

<li><a href="{% url 'game' game.id team.id %}">{{ game }}</a>

{% empty %}
<li>(no saved games)</li>
{% endfor %}
</ul>

<ul>
<li><a href="{% url 'game_new' team.id %}">New game</a>
</ul>

{% else %}
<h2>No teams found</h2>
<p>You aren't in any teams.  Please contact Simon to be added to a team</p>

{% endif %}  # (team)
{% endblock %}