
body {margin: 0; padding: 0;}
html, body, #map {height: 100%; width: 100%;}  /* 100vw;} */

#map-dialog {border-radius: 15px; border-style: none;}
#map-dialog::backdrop {filter: blur(5px) contrast(50%);}

.x-icon {position: absolute; top: 0; right: 0px; float: right;
			color: black; font-size: 1em; padding-top: 0;}
.plus-icon {color: green; font-size: 1em;}

.nav-control {
	background-color: rgba(255, 255, 255, 0.7);
	color: #bbb;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	width: 30px;
	height: 30px;
	/*margin-left: 13px;
	margin-top: 18px; */
	text-align: center;
	vertical-align: center;
}