
.help {
	font-size: smaller;
	font-weight: normal;
}

.odometer {
	max-width: 10ch;
}

/* Style the breadcrumb list */
ul.bike-breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.bike-breadcrumb li {
  display: inline;
  font-size: 14px;
}

ul.bike-breadcrumb li a {
	color: gold;
	/*font-weight: bold;*/
}

/* Add a slash symbol (/) before/behind each list item */
ul.bike-breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color on mouse-over */
ul.bike-breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* "add new" links */
.addlink {
	font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
    border: none;
	margin-left: 8px;
	padding-left: 14px;
    background: url(/static/admin/img/icon-addlink.svg) 0 1px no-repeat;
}

.changelink {
	font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
	border: none;
	margin-left: 8px;
	padding-left: 12px;
    background: url(/static/admin/img/icon-changelink.svg) 0 1px no-repeat;
}

.deletelink {
	font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
	border: none;
	margin-left: 8px;
	padding-left: 14px;
    background: url(/static/admin/img/icon-deletelink.svg) 0 1px no-repeat;
}

.hidden {
	visibility: hidden;
	display: none;
}

body {
	position: relative;
	width: 100%;
	/* this allows #messages to position absolutely within body */
}

#messages  {
  position: fixed;
  top: 0;
  left: 30%;
  max-width: 40%;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: .5rem 2rem .5rem 2rem;
  background: #fff;
  /*	color: #f65656; */
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  transition:  all 0.2s ease-in-out;
  /*	opacity: 0; */
}
