/beer.jpg
/beer.png
/bullseye.svg
/camera.png
/camera.svg
/coffee.png
/cup-straw.svg
/cup.svg
/gear.svg
/geo-alt.svg
/geo-red.svg
/geo.svg
/layers.svg
/pen.svg
/place.png
/teapot.png
/x-circle-red.svg
/teapot.svg
