
table, tbody, tr, td, th  {
	/*border: 1px solid grey; */
	padding: 2px;
	vertical-align: top;
	text-align: top;
}

/* additional styles for kotl.  
    Don't put this comment at the beginning, else not recognised as css file */

table {
	border-collapse: collapse;
}

.border {
	border: 1px solid grey;
}

.no-border, table.no-border, tr.no-border, td.no-border, tbody.no-border {
	border: none;
}

.errorlist, .errormsg {
	color: red;
}

.station {
	font-weight: bold;
}

div.masthead {
	background-color: gold;
}


div.location {
	justify-content: space-between;
	align-content: space-between;
}

.transit-delay, .turnaround {
	color: grey;
	font-size: 50%;
}

.transit-delay::before {
	content: '\00a0';
}

.train-delayed::before, .incident-responding::before {
	background-color: orange;
	content: '\00a0\00a0\00a0\00a0';
	font-size: 35%;
	border-radius: 50%;
	/*width: 4px;
	height: 4px; */
}

.train-blocked::before, .incident-open::before {
	background-color: red;
	content: '\00a0\00a0\00a0\00a0';
	font-size: 35%;
	border-radius: 50%;
	/*width: 4px;
	height: 4px; */
	vertical-align: super;
}

.small-int {  /* input fields */
	width: 6ch;
}
