{% extends 'bike/base.html' %}

{% block title %} 
Bikes -
{% endblock %}

{% block content %}
{% load static %}

<h1>Bikes
  <a class="addlink" href="{% url 'bike:bike_new' %}">N+1</a></h1>
{% for bike in bikes %}
{% if forloop.first %}
<table class="table">
<tr><th></th><th>last ride</th>
    <th>{{ monthname }}</th><th>{{ today.year }}</th>
	<th>total</th><th>units</th>
    <th>maint</th>
</tr>
{% endif %}

<tr>
  <td><a href="{% url 'bike:bike' bike.id %}">{{ bike.name }}</a>
  </td>
  <td>{{ bike.last_ridden.date|default:"" }}</td>
    {# loop through all mileage distance_units for each of 4 columns #}
  </td>
    {% if bike.mileage %}
  <td>{% for entry in bike.mileage %}
	  {{ entry.distance_month|floatformat|default:"" }}<br />
      {% endfor %}</td>
  <td>{% for entry in bike.mileage %}
	  {{ entry.distance_year|floatformat|default:"" }}<br />
      {% endfor %}</td> 
  <td>{% for entry in bike.mileage %}
	  {{ entry.distance|floatformat|default:"" }}<br />
      {% endfor %}</td>
  <td>{% for entry in bike.mileage %}
	  {{ entry.distance_units|default:"" }}<br />
      {% endfor %}</td>
    {% else %}
    <td></td><td></td><td></td><td></td>
    {% endif %}
  <td>{% for maint in bike.maint_upcoming %}
      {% if forloop.first %}<ul>{% endif %}
      <li><a href="{% url 'bike:maint' maint.id %}">{{ maint }}</a></li>
      {% if forloop.last %}</ul>{% endif %}
	  {% endfor %}
  </td>
</tr>

{% if forloop.last %}
</table>
{% endif %}
{% empty %}
<p>No bikes found :-(</p>
{% endfor %}

{% for activity in request.user.maint_activities.all %}
{% if forloop.first %}
<h3>Maintenance Activities</h3>
<ul>
{% endif %}

	<li><a href="{% url 'bike:maint_activity' activity.id %}">{{ activity.name }}</a>
	</li>

{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}

{% endblock%}