{% extends 'bike/base.html' %}

{% block title %}
Bike: {{ bike }}
{% endblock %}

{% block content %}
<h1>Bike: {{ bike.name }}</h1>
<p>{{ bike.description }}</p>
<p>Calculated odometer: {{ bike.current_odo|floatformat }} {{ distance_units }}</p>

{% url 'bike:bike' bike.id as success_url %}
{% with components=bike.components.all %}
{% include 'bike/bike_extra.html' %}
{% endwith %}

<a href="{% url 'bike:rides' bike_id=bike.id %}" class="btn btn-secondary">
  Ride history</a>
<a href="{% url 'bike:odometer_readings' bike_id=bike.id %}"
  class="btn btn-secondary">
  Odometer history</a>
<a class="btn btn-secondary" 
  href="{% url 'bike:bike_edit' pk=bike.id %}?next={{ success_url }}">
  Edit</a>
<a class="btn btn-primary" href="{{ success_url }}">
  OK</a>

{% endblock %}