{% extends 'bike/base.html' %}

{% block breadcrumbs %}
{% load breadcrumb %}
</li><li>{% breadcrumb_url "Change password" 'admin:password_change' %}
{% endblock %}

{% block content %}
{% load static %}

<h1>Bikes</h1>
<p>(add maint due)</p>
{% for bike in bikes %}
{% if forloop.first %}
<p>(distances this month/year/all time (units))</p>
<ul>
{% endif %}

<li><a href="{% url 'bike:bike' bike.id %}">{{ bike.name }}</a>:
{{ bike.sum_month|floatformat }} / {{ bike.sum_year|floatformat }} / 
{{ bike.distance|floatformat }} ({{ bike.rides__distance_units }})</li>

{% if forloop.last %}
</ul>
{% endif %}
{% empty %}
<p>No bikes found :-(</p>
{% endfor %}

<p><a class="btn btn-success" href="{% url 'bike:bike_new' %}">New bike</a></p>

{% for activity in request.user.maint_activities.all %}
{% if forloop.first %}
<h3>Maintenance Activities</h3>
<ul>
{% endif %}

	<li><a href="{% url 'bike:maint_activity' activity.id %}">{{ activity.name }}</a>
	</li>

{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}

{% endblock%}