{% extends 'bike/base.html' %}

{% block title %}
Bike details: {{ bike }} -
{% endblock %}

{% block content %}
<h1>Bike details: {{ bike.name }}</h1>
<form method='POST'>
{% csrf_token %}
<table class="table">
{{ form }}
<th>Odometer</th><td>{{ bike.current_odo }} {{ distance_units }}</td>
</table>
{% if bike %}
<p>
    <input type="submit" class="btn btn-primary" value="OK"
      {% url 'bike:bike' bike.id as save_url %}
      formaction="{{ save_url }}?next={% url 'bike:bikes' %}">
	<a href="{% url 'bike:bike_delete' bike.id %}?next={% url 'bike:bikes' %}"
	  class="btn btn-danger">Delete</a>
	<a href="{% url 'bike:rides' bike_id=bike.id %}" class="btn btn-secondary">
	  Rides</a>
    <a href="{% url 'bike:odometer_readings' bike_id=bike.id %}"
	  class="btn btn-secondary">Odometer history</a>
    
{% else %}
    <input type="submit" class="btn btn-primary" value="OK"
    formaction="{% url 'bike:bike_new' %}?next={% url 'bike:bikes' %}">
</p>{% endif %}

</form>

{% if bike %}
{% url 'bike:bike' bike.id as success_url %}
{% include 'bike/bike_extra.html' %}
{% endif %}

{% endblock %}
