{% extends 'bike/base.html' %}

{% block breadcrumbs %}
{% load breadcrumb %}
</li><li>{% breadcrumb_url "Change password" 'admin:password_change' %}
{% endblock %}

{% block content %}
{% load static %}

<h1>Bikes</h1>
{% for bike in bikes %}
{% if forloop.first %}
<table class="table">
<tr><th></th><th>month</th><th>year</th><th>total</th><th>units</th>
    <th>maint</th>
</tr>
{% endif %}

<tr>
  <td><a href="{% url 'bike:bike' bike.id %}">{{ bike.name }}</a>
    {% if bike.mileage %}
    {# loop through all mileages units for each of 4  columns #}
    {% with mileage=bike.mileage %}
  </td>
  <td>{% for entry in mileage %}
	  {{ entry.distance_month|floatformat|default:"" }}<br />
      {% endfor %}</td>
  <td>{% for entry in mileage %}
	  {{ entry.distance_year|floatformat|default:"" }}<br />
      {% endfor %}</td> 
  <td>{% for entry in mileage %}
	  {{ entry.distance|floatformat|default:"" }}<br />
      {% endfor %}</td>
  <td>{% for entry in mileage %}
	  {{ entry.distance_units|default:"" }}<br />
      {% endfor %}</td>
    {% endwith %}
    {% else %}
    <td></td><td></td><td></td><td></td>
    {% endif %}
  <td>{% for maint in bike.maint_actions.all %}
      {% if forloop.first %}<ul>{% endif %}
      <li><a href="{% url 'bike:maint' maint.id %}">{{ maint }}</a></li>
      {% if forloop.last %}</ul>{% endif %}
	  {% endfor %}
  </td>
</tr>

{% if forloop.last %}
</table>
{% endif %}
{% empty %}
<p>No bikes found :-(</p>
{% endfor %}

<p><a class="btn btn-success" href="{% url 'bike:bike_new' %}">New bike</a></p>

{% for activity in request.user.maint_activities.all %}
{% if forloop.first %}
<h3>Maintenance Activities</h3>
<ul>
{% endif %}

	<li><a href="{% url 'bike:maint_activity' activity.id %}">{{ activity.name }}</a>
	</li>

{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}

{% endblock%}