{% extends 'bike/base.html' %}

{% block content %}
<h1>Bike details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>

{% for action in maint %}
  {% if forloop.first %}<h3>Maintenance actions</h3><ul>{% endif %}
  <li><a href="{% url 'bike:maint' action.id %}">{{ action }}</a>
  {% if action.due_date or action.due_distance %}
  due
    {{ action.due_date|default_if_none:"" }}
    {% if action.due_date and action_due_distance %} or {% endif %}
    {% if action.due_distance %}
      at {{ action.due_distance }} {{ distance_units }}
    {% endif %}
  {% endif %}</li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}

{% for action in maint_history %}
  {% if forloop.first %}<h3>Maintenance history</h3><table>{% endif %}
  <tr><td>{{ action.completed_date }}</td>
    
    <td><a href="{% url 'bike:maint_history' action.id %}?success={% url 'bike:bike' bike.id %}">
	  {{ action.action }}</a></td>
	<td>{% if action.distance %}
	  {{ action.distance}} {{ action.distance_units_display }}
      {% endif %}
	</td>
  </tr>
  {% if forloop.last %}</table>{% endif %}
{% endfor %}
 
{% for subcomponent in components %}
  {% if forloop.first %}
    <h3>Components</h3>
    <table class="table">
    <tr><th>Type</th>
	  <th>Description</th>
	  <th>Specification</th>
	</tr>
  {% endif %}

  {% include 'bike/subcomponent.html' %}

  {% if forloop.last %}</table>{% endif %}
  {% empty %}
  <p>(no components.)</p>
{% endfor %}

<p>
{% if bike %}
    <input type="submit" class="btn btn-primary" value="OK"
    {% url 'bike:bike' bike.id as save_url %}
    formaction="{{ save_url }}?next={% url 'bike:bikes' %}">
	<a href="{% url 'bike:bike_delete' bike.id %}?next={% url 'bike:bikes' %}"
	class="btn btn-danger">Delete</a>
    <input type="submit" class="btn btn-secondary" value="Add maint. action"
    	   formaction="{{ save_url }}?next={% url 'bike:maint_new' %}?bike={{  bike.id }}">
	<a class="btn btn-secondary"
	  href="{% url 'bike:component_new' %}?bike={{ bike.id }}&next={% url 'bike:bike' bike.id %}">
	Add component</a>
{% else %}
    <input type="submit" class="btn btn-primary" value="OK"
    formaction="{% url 'bike:bike_new' %}?next={% url 'bike:bikes' %}">
{% endif %}
</p>
</form>

{% endblock %}
