{% extends 'bike/base.html' %}

{% block content %}
<h1>Component Type details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>
<input type="submit" class="btn btn-secondary" value="Apply">
<input type="submit" class="btn btn-primary" value="OK"
   {% if componenttype %}
   formaction="{% url 'bike:component_type' componenttype.id %}?success={% url 'bike:component_types' %}">
	<a href="{% url 'bike:component_type_delete' componenttype.id %}" class="btn btn-danger">Delete</a>
   {% else %}
   formaction="{% url 'bike:component_type_new' %}?success={% url 'bike:component_types' %}">
   {% endif %}
<a class="btn btn-secondary" href="{% url 'bike:component_type_new' %}">
   Add another component type
</a>
</form>

{% if componenttype %}

{% for subcomponent in subcomponent_types %}
  {% if forloop.first %}
  <h3>Sub-component-types</h3>
  <table class="table">
    <tr><th>Type</th>
	<th>Description</th>
	</tr>
  {% endif %}

  {% include 'bike/subcomponent.html' %}

  {% if forloop.last %}
	</table>
  {% endif %}
{% empty %}
  <p>(no sub-component-types)</p>
{% endfor %}
<a href="{% url 'bike:component_type_new' %}?subtype_of={{ componenttype.id }}&success={% url 'bike:component_type' componenttype.id %}">
	Add sub-component-type
   </a>

{% for maint_type in componenttype.maintenance_type.all %}
  {% if forloop.first %}
  <h3>Maintenance types</h3>
  <ul>
  {% endif %}
  <li><a href="{% url 'bike:maint_type' maint_type.id %}">{{ maint_type }}</a>
  </li>
  {% if forloop.last %}</ul>{% endif %}
{% empty %}
  <p>(no maintenance types)</p>
{% endfor %}
<a href="{% url 'bike:maint_type_new' %}?next={% url 'bike:component_type' componenttype.id %}&component_type={{ componenttype.id }}">
   Add maintenance type
</a>
{% endif %}

{% endblock %}
