{% extends 'bike/base.html' %}


{% block breadcrumbs %}
{% load breadcrumb %}
{% if componenttype %}
> {% breadcrumb_url "Component type" 'bike:component_type' componenttype.id %}
{% else %}
> {% breadcrumb_url "New Component type" 'bike:component_type_new' %}
{% endif %}
{% endblock %}


{% block content %}
<h1>Component Type details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>
<input type="submit" class="btn btn-secondary" value="Apply">
<input type="submit" class="btn btn-primary" value="OK"
   {% if componenttype %}
   formaction="{% url 'bike:component_type' componenttype.id %}?success={% url 'bike:component_types' %}">
	<a href="{% url 'bike:component_type_delete' componenttype.id %}" class="btn btn-danger">Delete</a>
   {% else %}
   formaction="{% url 'bike:component_type_new' %}?success={% url 'bike:component_types' %}">
   {% endif %}
</form>
 
{% for subcomponent in subcomponent_types %}
  {% if forloop.first %}
  <h3>Sub-component-types</h3>
  <table class="table">
    <tr><th>Type</th>
	<th>Description</th>
	</tr>
  {% endif %}

  {% include 'bike/subcomponent.html' %}

  {% if forloop.last %}
	</table>
  {% endif %}
{% empty %}
  <p>(no sub-component-types)</p>
{% endfor %}

{% if componenttype %}
<p><a class="btn btn-secondary"
	  href="{% url 'bike:component_type_new' %}?subtype_of={{ componenttype.id }}&success={% url 'bike:component_type' componenttype.id %}">
	Add sub-component-type
   </a>
</p>
{% endif %}
<a class="btn btn-secondary" href="{% url 'bike:component_type_new' %}">
   Add sub-component type
</a>

{% endblock %}
