{% extends 'bike/base.html' %}

{% block title %}
Components 
{% endblock %}

{% block content %}
{% load static %}
<h1>Components
  <a class="addlink" href="{% url 'bike:component_new' %}">New</a></h1>
  
{% regroup components.all by bike as bike_components %}

{% for bike in bike_components %}
<p>{% if bike.grouper %}<a href="{% url 'bike:bike' bike.grouper.id %}">{{ bike.grouper }}</a>
  {% else %}{{ bike.grouper|default_if_none:"(no bike)" }}{% endif %}
</p>
{% for component in bike.list %}
{% if forloop.first %}<ul>
{% endif %}
<li>
  <a href="{% url 'bike:component' component.id %}">
  {{ component.type }}: {{ component.name }}
  </a>
  {% if component.subcomponent_of %} 
	({{ component.subcomponent_of|default:"" }})
  {% endif %}
</li>

{% if forloop.last %}</ul>
{% endif %}
{% endfor %}
{% empty %}
<p>No components found :-(</p>
{% endfor %}

{% endblock%}