{% extends 'bike/base.html' %}


{% block breadcrumbs %}
{% load breadcrumb %}
{% if component %}
> {% breadcrumb_url "Component" 'bike:component' component.id %}
{% else %}
> {% breadcrumb_url "New Component" 'bike:component_new' %}
{% endif %}
{% endblock %}


{% block content %}
<h1>Component details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>

  <p>
  <input type="submit" class="btn btn-primary" value="OK">

  {% if component %}
  <a  class="btn btn-danger" href="{% url 'bike:component_delete' component.id %}">
  Delete</a>
  {% else %}
  <a class="btn btn-secondary" href="{% url 'bike:component_type_new' %}?next={% url 'bike_component' component.id %}">
  Add component type
  </a>
  {% endif %}

  </p>
</form>

{% if component %}
{% for subcomponent in subcomponents %}
  {% if forloop.first %}
  <h3>Sub-components</h3>
  <table class="table">
    <tr><th>Type</th>
	<th>Description</th>
	<th>Specification</th>
	</tr>
  {% endif %}

  {% include 'bike/subcomponent.html' %}

  {% if forloop.last %}
	</table><p>
  {% endif %}
{% empty %}
  <p>(no sub-components)
{% endfor %}

<a class="btn btn-secondary"
   href="{% url 'bike:component_new' %}?subcomponent_of={{ component.id }}&next={% url 'bike:component' component.id %}">
   Add sub-component
   </a></p>
{% endif %}

{% endblock %}
