{% extends 'bike/base.html' %}

{% block title %}
Components -
{% endblock %}

{% block content %}
{% load static %}
<h1>Components</h1>

{% for component in components.all %}
{% if forloop.first %}<ul>
{% endif %}

<li>
  <a href="{% url 'bike:component' component.id %}">
  {{ component.type }}: {{ component.name }}
  </a>
  {% if component.subcomponent_of %} 
	({{ component.subcomponent_of|default:"" }})
  {% endif %}
  {% if component.bike %} ({{ component.bike|default:"" }})
  {% endif %}
</li>

{% if forloop.last %}</ul>
{% endif %}
{% empty %}
<p>No components found :-(</p>
{% endfor %}

<p><a class="btn btn-success" href="{% url 'bike:component_new' %}">New component</a></p>

{% endblock%}