{% extends 'bike/base.html' %}


{% block content %}
<h1>Component details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>
<a href="{% url 'bike:components' %}" class="btn btn-secondary">Cancel</a>
<input type="submit" class="btn btn-secondary" value="Apply">
<input type="submit" class="btn btn-primary" value="OK"
   {% if component %}
   formaction="{% url 'bike:component' component.id %}?next={% url 'bike:components' %}">
	<a href="{% url 'bike:component_delete' component.id %}" class="btn btn-danger">Delete</a>
   {% else %}
   formaction="{% url 'bike:component_new' %}?next={% url 'bike:components' %}">
   {% endif %}
</form>
 
{% endblock %}
