{% extends 'bike/base.html' %}

{% block title %}
Replace Component: {{ cpt }} 
{% endblock %}

{% block content %}
<h1>Replace Component: {{ cpt }}</h1>

<form method='POST'>
{% csrf_token %}
{% if subcomponents %}
<p class="text-danger">WARNING:  all subcomponents will also be recorded as replaced</p>
{% endif %}

<p>
{% if cpt.bike %}<bold>Bike:</bold>{{ cpt.bike|default:"-" }}{% endif %}
{% if cpt.subcomponent_of %}
  <bold>Subcomponent of:</bold>{{ cpt.subcomponent_of|default:"-" }}
{% endif %}
</p>


<h3>Old component</h3>
<table class="table table-sm">
{{ old_cpt_form }}
</table>
<p><strong>Age: </strong>
  {{ cpt.current_distance|floatformat }} {{ distance_units }}<p>

<h3>Replacement component</h3>
<table class="table table-sm">
{{ new_cpt_form }}
</table>
  <p>
  <input type="submit" class="btn btn-primary" value="OK">
  <a class="btn btn-secondary" href="{% url 'bike:component' cpt.id %}">Cancel</a>
  </p>
</form>
  {% comment %}

{% if old_cpt %}
{% url 'bike:component' old_cpt.id as success_url %}
<h3>Sub-components
  <a class="addlink"
	href="{% url 'bike:component_new' %}?subcomponent_of={{ cpt.id }}&next={{ success_url }}">
	Add</a></h3>
{% for subcomponent in subcomponents %}
  {% if forloop.first %}
  <table class="table">
    <tr><th>Type</th><th>Description</th><th>Specification</th></tr>
  {% endif %}

  {% include 'bike/subcomponent.html' %}

  {% if forloop.last %}
	</table>
  {% endif %}
{% empty %}
  <p>(no sub-components)</p>
{% endfor %}

{% endif %}
{% endcomment %}
{% endblock %}
