{% extends 'bike/base.html' %}


{% block breadcrumbs %}
{% load breadcrumb %}
{% if maintenanceaction %}
> {% breadcrumb_url "Maintenance Action" 'bike:maint' maintenanceaction.id %}
{% else %}
> {% breadcrumb_url "New Maintenance Action" 'bike:maint_new' %}
{% endif %}
{% endblock %}


{% block content %}
<h1>Maintenance Action details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>

  <p>
  <input type="submit" class="btn btn-primary" value="OK">

  {% if maintenanceaction %}
  <a  class="btn btn-danger" href="{% url 'bike:maint_delete' maintenanceaction.id %}">
  Delete</a>
  <a class="btn btn-secondary" href="{% url 'bike:maint_type_new' %}?component_type={{ maintenanceaction.component.type_id }}&next={% url 'bike:maint' maintenanceaction.id %}">
  New maint. type</a>
{% else %}
  <a class="btn btn-secondary" href="{% url 'bike:maint_type_new' %}?next={% url 'bike:maint_new' %}">
  New maint. type</a>
  {% endif %}

  </p>
</form>

{% endblock %}
