{% extends 'bike/base.html' %}

{% block title %}
Maintenance Action details: {{ maintenanceaction }} -
{% endblock %}

{% block content %}
<h1>Maintenance Action details: {{ maintenanceaction }}</h1>
<form method='POST'>
{% csrf_token %}

<table class="table">
{% if maintenanceaction %}
  <p>Bike:{% if maintenanceaction.bike %}<a 
  	  href="{% url 'bike:bike' maintenanceaction.bike.id %}"
      >{{ maintenanceaction.bike|default_if_none:"-" }}</a>;
    {% else %}-;{% endif %}
  Component:{% if maintenanceaction.component %}<a
    href="{% url 'bike:component' maintenanceaction.component.id %}"
    >{{ maintenanceaction.component|default_if_none:"-" }}</a>;
    {% else %}-;{% endif %}
  Maintenance type:{% if maintenanceaction.maint_type %}<a
    href="{% url 'bike:maint_type' maintenanceaction.maint_type.id %}"
    >{{ maintenanceaction.maint_type }}</a>
    {% else %}-{% endif %}</p>
{% endif %}

{{ form.non_field_errors }}
{% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
{% endfor %}

{% for field in form.visible_fields %}
<tr> 
  <th>{{ field.label_tag }}</th>
  <td>
  {{ field.errors }}
  {{ field }}
  {% if field.name == 'maintenance_interval_distance' or field.name == 'due_distance' %}
  {{ distance_units }}
  {% endif %}
  {{ field.help_text }}
  </td>
</tr>
{% endfor %}
  </table>

{% include 'bike/links.html' %}

{% if maintenanceaction.completed %}<p>This maintenance action is complete.
  {% if maintenanceaction.completed_date %}
	on {{ maintenanceaction.completed_date }}
  {% endif %}
  {% if maintenanceaction.completed_distance %}
    at {{ maintenanceaction.completed_distance }} {{ distance_units }}
  {% endif %}</p>
{% endif %}

  <p>
  <input type="submit" class="btn btn-primary" value="Save">

  {% if maintenanceaction %}
     <a class="btn btn-danger" href="{% url 'bike:maint_delete' maintenanceaction.id %}">
    Delete</a>
    <a class="btn btn-secondary" href="{% url 'bike:maint_type_new' %}?component_type={{ maintenanceaction.component.type_id }}&next={% url 'bike:maint' maintenanceaction.id %}">
    New maint. type</a>
    </p><p>
    {% if completion_msg %}Completed: {{ completion_msg }}</p><p>{% endif %}
    {% if not maintenanceaction.completed %}
      <input type="submit" class="btn btn-primary" value="Mark as Done"
      formaction="{% url 'bike:maint_complete' maintenanceaction.id %}">
      {{ completion_form }} {{ distance_units }}
    {% endif %}
  {% else %}
    <a class="btn btn-secondary" href="{% url 'bike:maint_type_new' %}?next={% url 'bike:maint_new' %}">
    New maint. type</a>
  {% endif %}

  </p>
</form>

{% endblock %}
