<!-- included- from other templates.  Expects context=maint_history -->

{% for action in maint_history %}
  {% if forloop.first %}<h3>Maintenance history</h3><table class="table">
  {% endif %}
  <tr><td>{{ action.completed_date }}</td>
    
    <td><a href="{% url 'bike:maint_history' action.id %}?success={{ success_url }}">
	  {{ action.action }}</a></td>
	<td>{% if action.distance %}
	  {{ action.distance|floatformat }} {{ action.distance_units_display }}
      {% endif %}
	</td>
  </tr>
  {% if forloop.last %}</table>{% endif %}
{% endfor %}