{% extends 'bike/base.html' %}

{% block title %}
Maintenance Action: {{ maintenanceaction }}
{% endblock %}

{% block content %}
<h1>Maintenance Action: {{ maintenanceaction }}</h1>


<p>Bike:{% if maintenanceaction.bike_id %}
<a href="{% url 'bike:bike' maintenanceaction.bike_id %}"
  >{{ maintenanceaction.bike }}</a>
  {% else %}-
  {% endif %}

Maint. type:{% if maintenanceaction.maint_type %}
  <a href="{% url 'bike:maint_type' maintenanceaction.maint_type.id %}"
  >{{ maintenanceaction.maint_type }}</a>
  {% else %}-
  {% endif %}</p>

{% if maintenanceaction.component or maintenanceaction.componenttype %}
<p>
  {% if maintenanceaction.component %}
    Component
    <a href="{% url 'bike:component' maintenanceaction.component_id %}"
    >{{ maintenanceaction.component }}</a>
    <a class= "btn btn-warning"
      href="{% url 'bike:component_replace' maintenanceaction.component.id %}">
      Replace</a>
  {% else %}-
  {% endif %}
{% if maintenanceaction.componenttype %}
Component Type:
  <a href="{% url 'bike:componenttype' maintenanceaction.componenttype.id %}"
  >{{ maintenanceaction.componenttype }}</a>
  {% else %}-
  {% endif %}</p>
  {% endif %}

{% if maintenanceaction.description %}<p>{{ maintenanceaction.description }}</p>
{% endif %}

{% if maintenanceaction.completed %}<p>This action is complete.</p>{% endif %}

{% if maintenanceaction.due_date or maintenanceaction.due_distance %}
  <p>Due in {{ due_in|default_if_none:"?" }}
  {% if maintenanceaction.due_distance %}
    at {{ maintenanceaction.due_distance|default_if_none:"-" }} {{ distance_units }} 
  {% endif %}
  {% if maintenanceaction.due_date %}
  {{ maintenanceaction.due_date|default_if_none:"-" }}
  {% endif %}
  </p>
{% endif %}

{% if maintenanceaction.recurring %}
  <p>Recurs every 
  {% if maintenanceaction.maintenance_interval_distance %}
    {{ maintenanceaction.maintenance_interval_distance }} {{ distance_units }}
    {% if maintenanceaction.maintenance_interval_days %} or {% endif %}
  {% endif %}
  {% if maintenanceaction.maintenance_interval_days %}
    {{ maintenanceaction.maintenance_interval_days }} days
  {% endif %}
  </p>
{% endif %}

<p> 
<a class="btn btn-secondary" 
  href="{% url 'bike:maint_edit' pk=maintenanceaction.id %}">
  Edit</a>
<a class="btn btn-primary" href="{{ next_url }}">OK</a>
</p>
    {% if completion_msg %}
      <p>Completed: {{ completion_msg }}</p>
    {% else %}
      {% if not maintenanceaction.completed %}
        <p>
        <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Mark as Done"
        name="mark-complete-from-maint-details"
        formaction="{% url 'bike:maint_complete' maintenanceaction.id %}?next={{ next_url }}">
        {{ completion_form }} {{ distance_units }}
        </form>
        </p>
      {% endif %}
    {% endif %}
{% endblock %}