{% extends 'bike/base.html' %}


{% block breadcrumbs %}
{% load breadcrumb %}
{% if maintenancetype %}
> {% breadcrumb_url "Maintenance Type" 'bike:maint_type' maintenancetype.id %}
{% else %}
> {% breadcrumb_url "New Maintenance Type" 'bike:maint_type_new' %}
{% endif %}
{% endblock %}


{% block content %}
<h1>Maintenance Type details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>

  <p>
  <input type="submit" class="btn btn-primary" value="OK">

  {% if maintenancetype %}
  <a  class="btn btn-danger" href="{% url 'bike:maint_type_delete' maintenancetype.id %}">
  Delete</a>
  {% endif %}

  </p>
</form>

{% endblock %}
