{% extends 'bike/base.html' %}

{% block title %}
Mileage{% if bike %} for {{ bike }}{% endif %} in {{ sel_yrs|join:", " }} 
{% endblock %}

{% block content %}
{% load month_name %}

<h1>Mileage{% if bike %} for {{ bike }}{% endif %} in {{ sel_yrs|join:", " }}</h1>

<table class="table table-sm">
  <tr><th>Month</th>
    {% for yr in sel_yrs %}<th>{{ yr }}</th>{% endfor %}
  </tr>

  {% for month, month_summary in monthly_mileage.items %}
    <tr><th>{{ month|month_name }}</th>

    {% for yr, miles in month_summary.items %}
      <td>
        {% if miles %}
          <a href="{% url 'bike:rides_month' yr month %}">
          {{ miles|floatformat }} {{ distance_units }}</a>
        {% else %}-{% endif %}
      </td>
    {% empty %}
      <td>! no items in month_summary !</td>
    {% endfor %}

    </tr>
    {% empty %}(no rides on record)
  {% endfor %}

  {% if totals %}
    <tr class="table-info"><th>Totals:</th>
   	{% for total in totals.values %}
      <td>{{ total|floatformat}} {{ distance_units }}</td>
    {% endfor %}
    </tr>
  {% endif %}

  {% if mileage_ytd %}
    <tr class="table-light"><th>YTD:</th>
      {% for ytd in mileage_ytd.values %}
		<td>{{ ytd|floatformat }} {{ distance_units }}</td>
	  {% endfor %}
	</tr>
  {% endif %}
</table>

<p>{% if prev_yr %}
	{% if bike_id %}<a href="{%url 'bike:mileage' year=prev_yr bike_id=bike_id %}">
	{% else %}<a href="{%url 'bike:mileage' year=prev_yr %}">
	{% endif %}
	{{prev_yr}}<</a>
   {% endif %}
  &nbsp;&nbsp;

  {% with sel_yrs|last as last_sel_yr %}
    <a href="{%url 'bike:mileage_graph' year=last_sel_yr %}"
	  class='btn btn-secondary'>View as graph</a>
  {% endwith %}

  &nbsp;&nbsp;
  {% if next_yr %}
	{% if bike_id %}<a href="{%url 'bike:mileage' year=next_yr bike_id=bike_id %}">
	{% else %}<a href="{%url 'bike:mileage' year=next_yr %}">
	{% endif %}
	>{{next_yr}}</a>
  {% endif %}
</p> 

{% endblock%}