{% extends 'bike/base.html' %}

{% block title %}
Cumulative Mileage in {{ sel_yrs|join:", " }} 
{% endblock %}

{% block content %}

<h1>Cumulative Mileage in {{ sel_yrs|join:", " }}</h1>

{% if graphic_type == "svg" %}
{{ graphic|safe }}
{% else %}
<img src="data:image/png;base64,{{ graphic|safe }}">
{% endif %}

<p>{% if prev_yr %}
	<a href="{%url 'bike:mileage_graph' year=prev_yr %}">
	{{prev_yr}}&lt.</a>
   {% endif %}
&nbsp;&nbsp;

{% with sel_yrs|last as last_sel_yr %}
<a href="{%url 'bike:mileage' year=last_sel_yr %}"
	  class='btn btn-secondary'>View as table</a>
{% endwith %}

&nbsp;&nbsp;
{% if next_yr %}
	<a href="{%url 'bike:mileage_graph' year=next_yr %}">
	>{{next_yr}}</a>
{% endif %}
</p> 

{% endblock%}