{% extends 'bike/base.html' %}

{% block title %}
Odometer readings: -
{% endblock %}

{% block content %}
<h1>Odometer readings</h1>

<form method='POST'>
{% csrf_token %}
<table class="table-sm">
<tr><td colspan="8">Odometer readings selection:
<input type="submit" class="btn btn-link" value="Apply Filter">
<input type="submit" class="btn btn-link" value="Download as CSV"
    formaction="{% url 'bike:rides' %}?action=download_as_csv">
</td></tr>

{% if form.non_field_errors %}
  <tr><td colspan="8">{{ form.non_field_errors}}</td></tr>
{% endif %}

<tr class="table-info">
{% for field in form %}
  <td>
  <div class="fieldWrapper">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
	<br>{{ field.help_text }}
  </div><td>
{% endfor %}
</tr></table>
<br><p>Selected readings:</p>
</form>


{% for reading in entries %}

{% if forloop.first %}
  <table class="table">
  <tr><th>Bike</th><th>Reading</th><th>Date</th><th>reset?</th><th>Comment</th>
  </tr>
{% endif %}

<tr>
  <td>{{ reading.bike }}</td>
  <td>
    <a href="{% url 'bike:odometer_adjustment' odo_reading_id=reading.id %}">
	{{ reading.distance|floatformat }}</a></td>
  <td>{{ reading.date }}</td>
  <td>{% if reading.initial_value %}<b>Initial value</b>{% endif %}</td>
  <td>{{ reading.comment|default_if_none:"" }}</td>
</tr>

{% if forloop.last %}
  </table>
{% endif %}

{% empty %}
<p>No readings found :-(</p>
{% endfor %}

{% endblock %}
