{% extends 'bike/base.html' %}

{% block title %}
Odometer_reading: {{ odo_reading }} 
{% endblock %}

{% block content %}

<h1>Edit odometer reading</h1>
<form method='POST' action="{% url 'bike:odometer_adjustment' odo_reading_id=odo_reading.id %}?success={{ success_url }}">
  {% csrf_token %}
<h3>{{ odo_reading }}</h3>
  <table>
  {{ form.as_table }}
  </table>
<br/>
<p>
  <input type="submit" class="btn btn-primary" value="Save">
  <a class="btn btn-danger"
    href="{% url 'bike:odometer_delete' pk=odo_reading.id %}">
    Delete</a>
</p>
</form>

{% endblock %}