{% extends 'bike/base.html' %}

{% block content %}
{% load month_name %}

<h1>Mileage{% if bike %} for {{ bike }}{% endif %} in {{ year }}</h1>

<table class="table">
    {% for month, month_summary in monthly_mileage.items %}
        <tr><th>
		  <a href="{% url 'bike:rides_month' year month %}">
		    {{ month|month_name }}</a></th>
          {% for mileage_units, miles in month_summary.items %}
            <td>{{ miles|floatformat }} {{ mileage_units }}</td>
          {% empty %} -
          {% endfor %}
        </tr>
    {% empty %}(no rides on record)
    {% endfor %}
</table>
<p>{% if prev_yr %}
	{% if bike_id %}<a href="{%url 'bike:mileage' year=prev_yr bike_id=bike_id %}">
	{% else %}<a href="{%url 'bike:mileage' year=prev_yr %}">
	{% endif %}
	{{prev_yr}}<</a>{% endif %}
&nbsp&nbsp&nbsp&nbsp
{%if next_yr %}
	{% if bike_id %}<a href="{%url 'bike:mileage' year=next_yr bike_id=bike_id %}">
	{% else %}<a href="{%url 'bike:mileage' year=next_yr %}">
	{% endif %}
	>{{next_yr}}</a>{% endif %}
</p>

{% endblock%}