{% extends 'bike/base.html' %}

{% block title %}
Rides 
{% endblock %}

{% block content %}
<h1>Rides</h1>

<form method='POST' action="{{ form_action }}">
{% csrf_token %}
<table class="table-sm">
<tr><td colspan="8">Rides selection:
<input type="submit" class="btn btn-link" value="Apply Filter">
<input type="submit" class="btn btn-link" value="Download as CSV"
    formaction="{% url 'bike:rides' %}?action=download_as_csv">
</td></tr>

{% if form.non_field_errors %}
  <tr><td colspan="8">{{ form.non_field_errors}}</td></tr>
{% endif %}

<tr class="table-info">
{% for field in form %}
  <td>
  <div class="fieldWrapper">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
	<br>{{ field.help_text }}
  </div><td>
{% endfor %}
</tr></table>
<br><p>Selected rides:</p>
</form>


{% for ride in entries %}

{% if forloop.first %}
  <table class="table table-sm table-hover">
  <tr><th>date</th><th>bike</th><th>ride</th>
  <th>distance<br><small class="text-muted">{{ user.preferences.distance_units_label.lower }}</small></th>
  <th>ascent<br><small class="text-muted">{{ user.preferences.ascent_units_label.lower }}</small></th>
  </tr>
{% endif %}

<tr>
  <td>{{ ride.date|date:"D j M y" }}</td><td>{{ ride.bike }}</td>
  <td>
    {% if ride.is_adjustment %}
	  <a href="{% url 'bike:odometer_adjustment_ride' ride_id=ride.id %}">
    {% else %}
	  <a href="{% url 'bike:ride' ride.id %}">
    {% endif %}
    {{ ride.description|truncatechars:40 }}</a></td>
  <td>{{ ride.distance|floatformat|default:"-" }}</td>
  {% if ride.ascent %}
  <td>{{ ride.ascent|floatformat }}</td>
  {% endif %}
</tr>

{% if forloop.last %}
  {% if totals %}<tr class="table-info"><th>Totals</th>
	<td>{{ totals.count }} rides</td><td></td>
	<td>{{ totals.total_distance|floatformat }}</td>
	<td>{{ totals.total_ascent|floatformat }}</td>
	</tr>{% endif %}
  </table>
{% endif %}

{% empty %}
<p>No rides found :-(</p>
{% endfor %}

{% endblock %}
