{% extends 'bike/base.html' %}


{% block breadcrumbs %}
{% load breadcrumb %}
{% if ride %}
> {% breadcrumb_url 'Ride' 'ride' ride.id %}
{% else %}
> {% breadcrumb_url 'New Ride' 'ride_new' %}
{% endif %}
{% endblock %}


{% block content %}
<h1>Ride details:</h1>
<form method='POST'>
<table class="table">
{{ form }}
{% csrf_token %}
</table>
<input type="submit" class="btn btn-secondary" value="Apply">
<input type="submit" class="btn btn-primary" value="OK"
	{% if ride %}
    formaction="{% url 'ride' ride.id %}?next={% url 'home' %}"
    {% else %}
    formaction="{% url 'ride_new' %}?next={% url 'home' %}"
    {% endif %}>
</form>
{% endblock %}
