{% extends 'bike/base.html' %}

{% block title %}
Ride details: {{ ride }} 
{% endblock %}

{% block content %}
<h1>Ride details:</h1>
<form method='POST'>
{% csrf_token %}
<table class="table">{{ form.as_table}}</table>

{% if ride %}
  {% url 'bike:ride' ride.id as save_url %}
{% else %}
  {% url 'bike:ride_new' as save_url %}
{% endif %}

<input type="submit" class="btn btn-secondary" value="Apply">
<input type="submit" class="btn btn-primary" value="OK"
       formaction="{{ save_url }}?next={% url 'bike:home' %}">
{% if ride %}
<a href="{% url 'bike:ride_delete' pk=ride.id %}" class="btn btn-danger">
  Delete</a>
{% endif %}
{% if bike_id %}
<input type="submit" class="btn btn-secondary" value="Add maint. action"
       formaction="{{ save_url }}?next={% url 'bike:maint_new' %}?bike={{ bike_id }}">
{% endif %}
</form>
{% endblock %}
