{% extends 'bike/base.html' %}
{% load static %}

{% block title %}
Confirm Delete of Boundary: {{ object }}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

<script src="{% static 'simple_map.js' %}"></script>

{{ feature_collection|json_script:"featureCollection" }}
{% endblock %}

{% block content %}
<h1>Delete Boundary - Are You Sure?</h1>

<form method="post">
{% csrf_token %}

{{ object }}
<br/>

<div id="map" style="height: 400px; width: 600px;"></div>

<br/>
<p>
<button type="submit" class="btn btn-outline-danger">Delete</button>
<a href="{% url 'routes:boundaries' %}" role="button" class="btn btn-outline-secondary">
Cancel</a>
</p>
</form>
{% endblock %}
