{% extends 'bike/base.html' %}
{% load static %}


{% block title %}Routes Map{% endblock %}


{% block head %}
<!-- Leaflet CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin="" />
<!-- Leaflet Json (AFTER CSS)-->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<link rel="stylesheet" href="{% static 'map.css' %}" />

<script defer src="{% static 'map.js' %}"></script>
{{ tracks|json_script:"initialTracks" }}
{{ ocm_api_key|json_script:"ocmApiKey" }}

{% endblock %}


{% block map %}
<div id="map"></div>

<dialog id="map-dialog" closedby="any">
<!-- dialog for showing larger forms etc. Content provided by js -->
<a class="nav-link x-icon" href="#" onClick="onCloseMapDialog()"
	data-bs-toggle="tooltip" title="Close dialog">
	&times;
	</a>
<h4>Map page</h4>
<p>There are {{ places_count }} places and {{ tracks_count }} tracks defined.
</p>
<ul>
<li>To search for places or tracks, click on the map, or use the menu</li>
<li>To add a new place, click on the map</li>
<li>To upload GPX tracks, use the menu</li>
</ul>
</dialog>
{% endblock %}