{% extends 'bike/base.html' %}
{% load static %}


{% block title %}Routes Map{% endblock %}


{% block head %}
<!-- Leaflet CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin="" />
<!-- Leaflet Json (AFTER CSS)-->
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<style>
  body {margin: 0; padding: 0;}
  html, body, #map {height: 100%; width: 100vw;}
</style>
<script defer src="{% static 'map.js' %}"></script>
{{ markers|json_script:"markers" }}
{{ tracks|json_script:"tracks" }}
{{ ocm_api_key|json_script:"ocm-api-key" }}
{% endblock %}


{% block map %}
<div id="map"></div>
{% endblock %}