{% load static %}
<button type="button" class="close" aria-label="Close"
  onClick="onCloseMapDialog()"
  data-bs-toggle="tooltip" title="Close dialog">
  <span aria-hidden="true">&times;</span>
</button>

<h4>Place Type {{ object }}</h4>
<form onsubmit="onPlaceTypeSubmit(event)" method="post">
	{% csrf_token %}
	<input type="hidden" name="pk" value="{{ object.pk|default_if_none:'' }}">
	<table>
	{{ form.as_table }}
	</table>
	<p>
	<button class="btn btn-primary" type="submit">Save</button>
	{% if object %}
	{% url 'routes:place_type_delete' object.pk as place_type_delete_url %}
	<button type="button" class="btn btn-danger"
	  onclick="getMapDialogData('{{ place_type_delete_url }}')"
	  >Delete</button>
	{% endif %}
	</p>
</form>