<!-- popup form for place details -->

<h4>Place details</h4>
<form id="placeForm" onsubmit="onPlaceFormSubmit(event)">
<input type="hidden" name="pk" value="{{ pk|default_if_none:'' }}">
<input id="place-lat" type="hidden" name="lat" value="">
<input id="place-lon" type="hidden" name="lon" value="">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<button type="submit" class="btn btn-outline-primary">Save</button>
{% url 'routes:place_types' as place_types_url %}
<button class="btn btn-outline-secondary"
	onclick="getMapDialogData('{{ place_types_url }}')"
	>Edit place types</button>
</form>