{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<a class="nav-link x-icon" href="#" onClick="onCloseMapDialog()"
	data-bs-toggle="tooltip" title="Close dialog">
	&times;
	</a>
<h4>Place Types</h4>
<table>
{% for place_type in object_list %}
<tr><td>{{ place_type }}</td>
    <td><img src="{{ STATIC_PREFIX }}/icons/{{ place_type.get_icon_display }}"
    width=16px height=16px>
	<td><a onclick="onPlaceTypeEdit({{ place_type.pk }})">edit</a></td>
</tr>
{% empty %}
<p>(No place types found.)</p>
{% endfor %}
</table>
<a class="plus-icon" onclick="onPlaceTypeEdit()"
  data-bs-toggle="tooltip" title="New place type">
  &plus;...</a>
