<!-- popup form for place details -->
{% load static %}

<style>
/* add icons to placetype selection entries */
label[for^="id_type"]::after {max-height: 16px; max-width: 16px; padding-left: 0.3em;}
{% for icon_url in icons %}
label[for="id_type_{{ forloop.counter0 }}"]::after {content:url("{% static icon_url %}");}
{% endfor %}
</style>


<h4>{% if pk %}Place details{% else %}Create Place{% endif %}</h4>
<form id="placeForm" onsubmit="onPlaceFormSubmit(event)">
<input type="hidden" name="pk" value="{{ pk|default_if_none:'' }}">
<input id="place-lat" type="hidden" name="lat" value="">
<input id="place-lon" type="hidden" name="lon" value="">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>

{% if pk %}
<ul class="tag-list tags-track-{{pk}}" onclick="editTags({{ pk }}, 'place')"
	data-bs-toggle="tooltip" title="Edit tags">
{% for tag in instance.tag.all %}
<li>{{ tag.name }}</li>
{% endfor %}
<li>&nbsp;<i class="oi oi-pencil"></i>
</li></ul>
{% else %}<p><small>After creating the place, edit it to add tags</small></p>
{% endif %}

<button type="submit" class="btn btn-outline-primary">Save</button>
{% url 'routes:place_types' as place_types_url %}
<button class="btn btn-outline-secondary"
	onclick="getMapDialogData('{{ place_types_url }}')"
	>Edit place types</button>
</form>