{% extends 'bike/base.html' %}
{% load static %}

{% block title %}
Routes - Place Types
{% endblock %}
    
{% block content %}
<h1>Routes - Place Types</h1>
<table>
{% for place_type in object_list %}
<tr><td>{{ place_type }}</td>
    <td><img src="/static/icons/{{ place_type.get_icon_display }}"
    width=16px height=16px>
	<td><a href="{% url 'routes:place_type' place_type.pk %}">edit</a></td>
</tr>
{% empty %}
<p>(No place types found.)</p>
{% endfor %}
</table>
<p>
<a class="btn btn-secondary" href="{% url 'routes:place_type' %}">New place type</a>
<a class="btn btn-primary" href="{% url 'routes:map' %}">Close</a>
</p>
{% endblock %}