<!-- popup form for confirming place deletion -->
<button type="button" class="close" aria-label="Close"
  onClick="onCloseMapDialog()"
  data-bs-toggle="tooltip" title="Close dialog">
  <span aria-hidden="true">&times;</span>
</button>

<h4>Confirm Place Type delete: {{ object }}</h4>
<form id="placeTypeDeleteForm" onsubmit="onPlaceTypeDoDelete(event)">
{% csrf_token %}
<input type="hidden" name="pk" value="{{ object.pk }}">
<p>Place Type: {{ object }}</p>
{{ form.errors }}
<button type="submit" class="btn btn-danger">Delete</button>
{% url 'routes:place_types' as place_types_url %}
<button class="btn btn-outline-secondary"
	onclick="getMapDialogData('{{ place_types_url }}')"
	>Cancel</button>
</form>