{% extends 'bike/base.html' %}

{% load static %}

{% block title %}
Routes - Place Type {{ object }}
{% endblock %}

{% block content %}
<h1>Routes - Place Type {{ object }}</h1>
{% if object %}<form method='post' action="{% url 'routes:place_type' object.pk %}">
{% else %}<form method='post' action="{% url 'routes:place_type' %}">
{% endif %}
	{% csrf_token %}
	<table>
	{{ form.as_table }}
	</table>
	<p>
	<button class="btn btn-primary" type="submit">Save</button>
	<a class="btn btn-secondary" href="{% url 'routes:place_types' %}">Quit</a>
	<a class="btn btn-danger" href="{% url 'routes:place_type_delete' object.pk %}">Delete</a>
	</p>
</form>
{% endblock %}