{% load static %}
<button type="button" class="close" aria-label="Close"
  onClick="onCloseMapDialog()"
  data-bs-toggle="tooltip" title="Close dialog">
  <span aria-hidden="true">&times;</span>
</button>
<h4>Preferences for {{ object.user }}</h4>
<form onsubmit="onPreferencesSubmit(event)" method="post">
	{% csrf_token %}
	<input type="hidden" name="pk" value="{{ object.pk|default_if_none:'' }}">
	<table>
	{{ form.as_table }}
	</table>
	<p>
	<button class="btn btn-primary" type="submit">Save</button>
	</p>
</form>