<!-- form fragment for search2 -->
<a class="nav-link x-icon" href="#" onClick="onCloseMapDialog()"
	data-bs-toggle="tooltip" title="Close dialog">
	&times;
	</a>
<h4>Search</h4>
<nav>
<ul class="nav nav-tabs" id="searchTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tracks-search-tab" type="button" role="tab"
    data-toggle="tab" data-target="#tracks-search"
    aria-controls="tracks-search" aria-selected="true">
    Tracks</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="places-search-tab" type="button" role="tab"
    data-toggle="tab" data-target="#places-search"
    aria-controls="places-search" aria-selected="false">
    Places</button>
  </li>
</ul>
</nav>

    <form id="searchForm" onsubmit="onSearchFormSubmit(event)">
      {% csrf_token %}
<div class="tab-content" id="searchTabContent">
  <div class="tab-pane fade show active" id="tracks-search" role="tabpanel"
  	aria-labelledby="tracks-tab">
	  <table>{{ track_form.as_table }}</table>
  </div>
  <div class="tab-pane fade" id="places-search" role="tabpanel"
    aria-labelledby="places-search-tab">
    
      <table>{{ place_form.as_table }}</table>
  </div>
</div>
	  <button type="submit" class="btn btn-outline-primary">Search</button>
	</form>

