{% comment %}
Original source for this is in 
~/.local/lib/python3.13/site-packages/django/forms/templates/django/forms/widgets/select.html
Adds a 'refresh' button for category names
{% endcomment %}
<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
{% for group_name, group_choices, group_index in widget.optgroups %}
 {% if group_name %}<optgroup label="{{ group_name }}">{% endif %}
 {% for option in group_choices %}
  {% include option.template_name with widget=option %}
 {% endfor %}
 {% if group_name %}</optgroup>{% endif %}
{% endfor %}
</select> 
<button type="button" class="btn btn-sm btn-outline-primary"
  data-bs-toggle="tooltip" title="refresh Boundary names for chosen category"
  onclick="onRefreshBoundaryNames()">
  <span class="oi oi-reload"></span></button>