<!-- fragment form for tags for a track or place -->
<a class="nav-link x-icon" href="#" onClick="onCloseMapDialog()"
	data-bs-toggle="tooltip" title="Close dialog">
	&times;
	</a>
<h4>Tags for {{instance}}</h4>
<form id="tagsForm" onsubmit="onTagsFormSubmit(event, '{{object_type}}')">
{% csrf_token %}
<input type="hidden" name="pk" value="{{ pk }}">
{% if tags %}
<ul class="no-bullet tag-list">
{% for tag in tags %}
  <li><input id="tag_{{ tag.pk }}" name="tag_{{ tag.pk }}" type="checkbox"
    {% if tag.is_checked %}checked{% endif %}
	data-initial-state="{% if tag.is_checked %}checked{% endif %}">
<label for="tag_{{ tag.pk }}">{{ tag.name }}</label></li>
 {% endfor %}
</ul>
{% endif %}
<div class="form-group">
<label for="new_tags">New tags</label>
<input id="new-tags" name="new-tags" type="text"
  pattern="[A-Za-z][A-Za-z0-9+\-&amp;]*">
<div class="form-text">Separate tag names by commas</div></div>
<br />
<button type="submit" class="btn btn-outline-primary">Save</button>
</form>