<!-- fragment of a form for tags for uploaded tracks -->
<fieldset>
<legend>Tags for {{ instance|default:"uploaded file(s)" }}</legend>
<input type="hidden" name="pk" value="{{ pk }}">
{% if tags %}
<ul class="no-bullet tag-list">
{% for tag in tags %}
  <li class="no-bullet"><input id="tag_{{ tag.pk }}" name="tag_{{ tag.pk }}"
    type="checkbox"
    {% if tag.is_checked %}checked{% endif %}
	data-initial-state="{% if tag.is_checked %}checked{% endif %}">
<label for="tag_{{ tag.pk }}">{{ tag.name }}</label></li>
 {% endfor %}
</ul>
{% endif %}
<div class="form-group">
<label for="new_tags">New tags</label>
<input id="new-tags" name="new-tags" type="text"
  pattern="[A-Za-z][A-Za-z0-9+\-&amp;]*">
<div class="form-text">Separate tag names by commas</div></div>
</fieldset>
