<!--  fragment for track popup -->
<h4>{{ track.name }} - Detail</h4>

<ul class="tag-list tags-track-{{ track.pk }}"
	onclick="editTags({{ track.pk }}, 'track')"
	data-bs-toggle="tooltip" title="Edit tags">

{% for tag in track.tag.all %}
<li>{{ tag.name }}</li>
{% endfor %}

<li>&nbsp;<i class="oi oi-pencil"></i>
</li></ul>
<form onsubmit="onTrackDetailSubmit(event)">
{% csrf_token %}
<input type="hidden" name="pk" value="{{ track.pk }}">
<table class="table table-compact">
<tr><th>Start time</th><td>{{ track.start_time }} UTC</td></tr>
<tr><th>Moving time</th><td>{{ moving_time }}</td></tr>
<tr><th>Moving distance</th><td>{{ track.moving_distance_user_units|floatformat:"1" }}
	{{ track.user.preferences.get_distance_units_display }}</td></tr>
<tr><th>Ascent</th><td>{{ track.ascent_user_units|floatformat:"0" }}
	{{ track.user.preferences.get_ascent_units_display }}</td></tr>
<tr><th>Creator</th><td>{{ track.creator }}</td></tr>
{{ form.as_table }}
</table>
<button type="submit" class="btn btn-outline-primary">Save</button>
</form>